<h2 mat-dialog-title>Agregar Nueva Cerveza</h2>

<mat-dialog-content class="p-2">
  <mh-beer-form
    [submitted]="submitted"
    [skuAsyncValidator]="skuAsyncValidator"
    (formChange)="onFormChange($event)"
  ></mh-beer-form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end p-2 m-0">
  <button mat-button (click)="onCancel()" class="mr-2">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="beerForm?.invalid || beerForm?.pending"
  >
    <span *ngIf="!beerForm?.pending">Guardar</span>
    <span *ngIf="beerForm?.pending">Verificando...</span>
  </button>
</mat-dialog-actions>
